<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Medsenger.AI: Медкарта</title>
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://common.medsenger.ru/styles/agents/common.css?v=2701231500" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        window.AGENT_ID = '{{ agent_id }}';
        window.AGENT_TOKEN = '{{ agent_token }}';
        window.CONTRACT_ID = parseInt('{{ contract_id }}');
        window.API_HOST = '{{ api_host }}';
        window.LOCAL_HOST = '{{ local_host }}';
        window.MODE = '{{ mode }}';
        window.OBJECT_ID = parseInt('{{ object_id }}');
        window.SOURCE = '{{ source }}';
        window.PARAMS = JSON.parse('{{ params | safe }}');
    </script>
</head>
<body>
<div>
    <div id="app"></div>
</div>
<script src="{{ local_host }}/static/build.js?c={{lc}}"></script>
</body>
</html>
