<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-ru-latest.js"></script>
    <script>Plotly.setPlotConfig({locale: 'ru'})</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html {
            font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
        }

    </style>
</head>
<body>

<h3>Медицинские записи</h3>


{% for category in data %}
<h5>{{ category.category.description }}</h5>

{% if category.category.default_representation == 'values'%}
<ul>
    {% for row in category.value_list %}
    <li>{{ row.formatted_date }}: {{ row.value }} {% if category.category.unit %}({{category.category.unit}}){%endif%}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if category.category.default_representation == 'dates'%}
<ul>
    {% for row in category.value_list %}
    <li>{{ row.formatted_date }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if category.category.default_representation == 'non_zero_dates'%}
<ul>
    {% for row in category.value_list %}
    {% if row.value != 0 %}
    <li>{{ row.formatted_date }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if category.category.default_representation == 'scatter'%}
<div class="chart" id="{{category.category.name}}">
    <script>
        var graphs = {
        {
            category.plot | safe
        }
        }
        ;
        Plotly.plot('{{ category.category.name }}', graphs, {});
    </script>
</div>
{% endif %}
<hr>
{% endfor %}

</body>
</html>